name: Prose linting
on: [pull_request]

jobs:
  vale:
    name: Vale
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      actions: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@v2.1.1
        with:
          reporter: github-check
          filter_mode: nofilter
          fail_on_error: true
